.App {
    text-align: center;
    max-width: max-content;
    width: auto;
    align-content: center;
}

.center {
    text-align: center;
    align-content: center;
}

.header {
    background-color: whitesmoke;
    height: 150px;
    padding: 20px;
    color: black;
    font-weight: normal;
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
}

.smaller {
    font-size: 1em;
    height: 50px;
    padding: 10px;
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    top: 0;
}

#title {
    padding-left: 20px;
    padding-top: 4px;
}

.smaller #title {
    font-size: 1.2em;
    padding-left: 0;
}

.smaller #logo {
    display: none;
}

#logo {
    width: auto;
    height: 8ch;
    padding: 0;
    alignment: left;
    margin: 0;
}

.login {
    border: none;
}

h1 {
    alignment: right;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

Input {
    text-align: center;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}